.container {
    width: 1000px;
    height: calc(100vh - 160px);
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out; 
}

@font-face {
    font-family: 'Cinzel Decorative';
    src: local('Cinzel Decorative'), url('../font/Cinzel Family/Cinzel_Decorative/CinzelDecorative-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: #08072f;
    margin-bottom: 10px;
    font-family: 'Cinzel Decorative';
}

.fadeIn {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fadeIn:not(.fadeIn) {
    opacity: 1;
}

.slide {
    width: 824px;
    height: 465px;
    position: absolute;
    transition: opacity 0.5s, transform 0.5s;
    opacity: 0;
}

.rsvp-button {
    position: fixed;
    bottom: 50px;
    right: 100px;
    width: 120px;
    height: 60px;
    background: url('https://github.com/nikkzzzyu/Invitation-Page/blob/main/img/buttons/rsvp.png?raw=true') 50% / cover no-repeat;
    background-size: 200%;
    border-radius: 50%;
    border: none;
    color: #000;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s ease-in-out, opacity 1s ease-in-out;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.rsvp-button:hover {
    transform: scale(1.1);
}

.rsvp-button.fade-in {
    opacity: 1;
}

.rsvp-button.fade-in:not(.fadeOut) {
    opacity: 1;
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #eee;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.text {
    text-align: center;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.5s;
}

.overlay {
    position: absolute;
    top: 85%;
    left: 50%;
    width: 50%;
    height: 5.5%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s;
}

.overlay-fade-in {
    opacity: 1;
}

.image-container {
    position: relative;
    z-index: 2;
}

.pre-2 {
    transform: translate3d(-237px, 0, 0) scale(0.74);
}

.pre-1 {
    transform: translate3d(-237px, 0, 0) scale(0.84);
    filter: brightness(60%);
    opacity: 1;
    z-index: 1;
}

.active {
    transform: translateZ(0) scale(1);
    opacity: 1;
    z-index: 2;
}

.next-1 {
    transform: translate3d(237px, 0, 0) scale(0.84);
    filter: brightness(60%);
    opacity: 1;
    z-index: 1;
}

.next-2 {
    transform: translate3d(237px, 0, 0) scale(0.74);
}

.img {
    display: block;
    width: 100%;
    height: 100%;
}

.bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination {
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pagination-bullet {
    display: inline-block;
    width: 16px;
    height: 16px;
    outline: none;
    opacity: 1;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.bullet {
    background: url('https://github.com/nikkzzzyu/Invitation-Page/blob/main/img/buttons/bullet.png?raw=true') 50% / cover no-repeat;
}

.navi_bullet {
    background: url('https://github.com/nikkzzzyu/Invitation-Page/blob/main/img/buttons/navi_bullet.png?raw=true') 50% / cover no-repeat;
}

.pagination-bullet--active {
    background: url('https://github.com/nikkzzzyu/Invitation-Page/blob/main/img/buttons/navi_bullet.png?raw=true') 50% / cover no-repeat;
}

.pre,
.next {
    width: 60px;
    height: 60px;
    cursor: pointer;
    outline: none;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.pre:hover,
.next:hover {
    transform: scale(1.1);
}

.pre :first-child,
.next :first-child {
    z-index: 2;
    position: absolute;
}

.pre :first-child:hover,
.next :first-child:hover {
    opacity: 0;
}

.pre :last-child,
.next :last-child {
    z-index: 1;
    position: absolute;
}

.pre img,
.next img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#music-player {
    display: none;
}