:root {
    --loadingbar-background-color: #f5f5f5;
    --loadingbar-prospect-color: #666666;
}

html.dark {
    --loadingbar-background-color: #2c2b30;
    --loadingbar-prospect-color: #ece5d8;
}

html.dark body {
    background-color: #161d22;
}

.loading-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px; /* Adjusted width to 600 */
    height: 75px; /* Adjusted height to maintain the aspect ratio */
    transform: translate(-50%, -50%) scale(0.8);
    transition: all 0.5s;
    user-select: none;
    overflow: hidden;
}

.loading-bar img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 -600px 0 var(--loadingbar-background-color)); /* Adjusted shadow */
}

.loading-bar::after {
    content: "";
    position: absolute;
    top: 600px; /* Adjusted top position to 600 */
    left: 0;
    filter: drop-shadow(0 -600px 0 var(--loadingbar-prospect-color)); /* Adjusted shadow */
    width: 600px; /* Adjusted width to 600 */
    height: 75px; /* Adjusted height to maintain the aspect ratio */
    background: url("https://yuanshen.site/imgs/loading-bar.png") no-repeat left 100%;
    background-size: 600px 75px; /* Adjusted background size */
    background-position-x: 0;
    animation: loading-bar 12s cubic-bezier(0.215, 0.61, 0.355, 1) infinite forwards;
}

@media screen and (max-width: 719px) {
    .loading-bar {
        display: none;
    }

    @media screen and (orientation: landscape) {
        .loading-bar {
            display: block !important;
            transform: translate(-50%, -50%) scale(0.7) !important;
        }
    }
}

@supports not (filter: drop-shadow(0 0 0 #fff)) {
    .loading-bar:before {
        content: "Your browser does not support the animation";
    }
}

@keyframes loading-bar {
    0% {
        width: 0;
        background-size: 600px 75px;
    }

    10% {
        /* Adjusted the duration for each keyframe to make the animation slower */
    }

    20% {
    }

    30% {
    }

    40% {
    }

    50% {
    }

    60% {
    }

    70% {
    }

    80% {
    }

    90% {
    }

    100% {
        width: 600px;
    }
}

.loading-bar::after {
    animation: loading-bar 15s cubic-bezier(0.215, 0.61, 0.355, 1) infinite forwards; /* Adjusted animation duration */
}